* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "Tomorrow", sans-serif;
}

body {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: #f3f5fa;
}

@media (max-width: 1200px) {
  html {
    font-size: 100%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 62.5%;
  }
}
